<section id="footer">
  <div class="main-footer">
    <div class="logoinfo" data-aos="fade-up">
      <h2>Smart Buy</h2>
      <div class="contact-details">
        <h1>Contact Us</h1>
        <li>
          <div class="fa fa-phone"></div>
          <a href="tel:+919326048690">+91 0987654321</a>
        </li>
        <li>
          <div class="fa fa-envelope"></div>
          <a href="mailto:yourmail@gmail.com">yourmail@gmail.com</a>
        </li>
      </div>
    </div>
    <div class="com" data-aos="fade-up">
      <h1>About</h1>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a>About</a></li>
        <li><a routerLink="/category">Category</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
    <div class="info" data-aos="fade-up">
      <h1>Social Media</h1>
      <div class="sociallogos">
        <div class="logobox">
          <a class="fa fa-instagram"></a>
          <a class="fa fa-linkedin"></a>
          <a class="fa fa-facebook"></a>
          <a class="fa fa-youtube-play"></a>
        </div>
      </div>
    </div>
  </div>
  <footer>© Your Copyright 2023 All Rights Reserved</footer>
</section>
